%h3 User Information Page

.row.p-5
  .col-md-2
    Username: 
  .col-md-3
    %p{style: 'font-weight: bold'}= session[:username].capitalize
.row
  .col-md-2
    Email: 
  .col-md-2
    %p{style: 'font-weight: bold'}= session[:email]

